<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">mycomponent2</h3>
        </div>
        <div class="panel-body">
            <div>
                ${greeting2}
            </div>
            <button type="button" class="btn btn-primary btn-sm" click.delegate="refresh()"><i class="fa fa-refresh"></i>&nbsp;Refresh 2</button>
            <button type="button" class="btn btn-primary btn-sm" click.delegate="sendMsg()"><i class="fa fa-envelope"></i>&nbsp;SendMessage 2</button>
        </div>
    </div>
</template>