<template>
    <require from="./mycomponent2"></require>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">mycomponent1</h3>
        </div>
        <div class="panel-body">
            <div>
                ${greeting1}
            </div>
            <button type="button" class="btn btn-primary btn-sm" click.delegate="refresh()"><i class="fa fa-refresh"></i>&nbsp;Refresh 1</button>
            <button type="button" class="btn btn-primary btn-sm" click.delegate="sendMsg()"><i class="fa fa-envelope"></i>&nbsp;SendMessage 1</button>
            <button type="button" class="btn btn-danger btn-xs" click.delegate="appFunction()"><i class="fa fa-exclamation-triangle"></i>&nbsp;App function</button>
            <button type="button" class="btn btn-danger btn-xs" click.delegate="aboutFunction()"><i class="fa fa-exclamation-triangle"></i>&nbsp;About function</button>
            <button type="button" class="btn btn-danger btn-xs" click.delegate="parent.appFunction()"><i class="fa fa-exclamation-triangle"></i>&nbsp;Parent App function</button>
            <button type="button" class="btn btn-warning btn-xs" click.delegate="parent.aboutFunction()"><i class="fa fa-asterisk"></i>&nbsp;Parent About function</button>
            <br/><br/>
            <mycomponent2 greeting2.bind="greeting1"></mycomponent2>
        </div>
    </div>
</template>