<template>
    <require from="./components/mycomponent1"></require>
    <h3>About</h3><br/>
    <div>
        ${parent.stateSvc.greeting}<br/>
        <button type="button" class="btn btn-primary btn-sm" click.delegate="refresh()"><i class="fa fa-refresh"></i>&nbsp;Refresh from about</button>
        <button type="button" class="btn btn-primary btn-sm" click.delegate="sendMsg()"><i class="fa fa-envelope"></i>&nbsp;SendMessage from about</button>
        <button type="button" class="btn btn-success btn-xs" click.delegate="appFunction()"><i class="fa fa-check"></i>&nbsp;App function</button>
        <button type="button" class="btn btn-success btn-xs" click.delegate="aboutFunction()"><i class="fa fa-check"></i>&nbsp;About function</button>
        <br/><br/>
    </div>
    <mycomponent1 greeting1.bind="stateSvc.greeting"></mycomponent1>
</template>