<template>
	<require from="bootstrap/css/bootstrap.css"></require>
    <div>
        <!--<a href="/">Welcome</a> | <a href="/about">About</a><br/>-->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <div class="navbar-brand">
                    EZMAX
                </div>
            </div>
            <ul class="nav navbar-nav">
                <li repeat.for="row of router.navigation">
                    <a href.bind="row.href">${row.title}</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        ${currentTime}<br/>
        ${stateSvc.greeting}<br/>
        <button type="button" class="btn btn-primary btn-sm" click.delegate="refresh()"><i class="fa fa-refresh"></i>&nbsp;Refresh from app</button>
        <button type="button" class="btn btn-primary btn-sm" click.delegate="sendMsg()"><i class="fa fa-envelope"></i>&nbsp;SendMessage from app</button>
        <button type="button" class="btn btn-secondary btn-xs" id="exButton"><i class="fa fa-mouse-pointer"></i>&nbsp;Exemple</button>
        <button type="button" class="btn btn-secondary btn-xs" click.delegate="update()"><i class="fa fa-eye"></i>&nbsp;Update</button>
        <input type="hidden" id="Hidden" value="Toto"/>
    </div>
    <hr/>
    <router-view></router-view>
</template>
