<template>
    <h3>Welcome</h3><br/>
    <div>
        ${parent.stateSvc.greeting}<br/>
        <button type="button" class="btn btn-primary btn-sm" click.delegate="refresh()"><i class="fa fa-refresh"></i>&nbsp;Refresh from welcome</button>
        <button type="button" class="btn btn-primary btn-sm" click.delegate="sendMsg()"><i class="fa fa-envelope"></i>&nbsp;SendMessage from welcome</button>
    </div>
    <div class="container">

        <h1>Personnel</h1>

        <div class="form-group">
            <label for="name">Nom:</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="desc">Description:</label>
            <input type="text" class="form-control" id="desc">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-sm" click.delegate="add()"><i class="fa fa-plus"></i>&nbsp;Ajouter</button>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" repeat.for="item of items">
                <div class="panel-heading" role="tab" id="heading-${$index}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-${$index}" aria-expanded="true" aria-controls="collapse-${$index}">
                            ${item.name}
                        </a>
                    </h4>
                </div>
                <div id="collapse-${$index}" class="panel-collapse collapse ${$first && 'in'}" role="tabpanel" aria-labelledby="heading-${index}">
                    <div class="panel-body">
                        ${item.desc}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>